<div class="timeline">
  <div *ngFor="let item of list" class="timeline-event">
    <div class="timeline-point-track-container">
      <div class="timeline-point" [ngClass]="item.status === 'R' ? 'heighligth' : ''"></div>
      <div class="timeline-track" [ngClass]="item.status === 'R' ? 'heighligth' : ''"></div>
    </div>
    <div class="timeline-content">
      <span><strong>{{item.materia}}</strong></span><br>
      <span class="timeline-date">{{item.inicio}} - {{item.fin}}</span><br>
      <span><small>{{item.aula}}</small></span><br>
      <span><small>{{item.docente}}</small></span><br><br>
    </div>
  </div>
</div>