<ion-content>
  <div class="login-body">
    <div class="title">
      <ion-img src="../../assets/icon/upse-logo.png"></ion-img>

      <div class="title-name">
        <ion-title>Por favor, ingrese su cuenta</ion-title>
      </div>
    </div>

    <form [formGroup]="lForm">
      <ion-item-group>
        <ion-item>
          <ion-input type="email" formControlName="correo" placeholder="Correo Electronico" autofocus></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item>
          <ion-input [type]="showPassword ? 'text': 'password'" placeholder="Contraseña" formControlName="clave">
          </ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()">
          </ion-icon>
        </ion-item>
      </ion-item-group>
    </form>

    <div class="option">
      <ion-item-group>
        <ion-label (click)="onForgotPassword()">Has olvidado tu contraseña</ion-label>
      </ion-item-group>
    </div>

    <div class="login-button">
      <ion-button fill="clear" [disabled]="!lForm.valid" (click)="ingresar()">Ingresar</ion-button>
    </div>
  </div>
</ion-content>